{% extends "base.html.twig" %}
{% block title %}Equipment{% endblock %}

{% block content %}

    <style>
        .item {

        }

    </style>

    <section class="banner">
        <div class="banner__decorator">
            <img src="{{ asset('roadMapStyle/assets/images/hero_decorator.png') }}" alt=""/>
        </div>
        <div class="banner__decorator">
            <img src="{{ asset('roadMapStyle/assets/images/hero_decorator.png') }}" alt=""/>
        </div>
        <div class="container">
            {#            <h1 class="title mb-4">All Courses</h1> #}
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">{{ 'title.home'|trans }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">
                        Equipment
                    </li>
                </ol>
            </nav>
        </div>
    </section>

    <section class="hero mb-5">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-7 hero__content">
                    <h6 class="hero__title" style="color: #7d2935;">Equipment</h6>
                    <p class="hero__paragraph">
                        {{"hero__paragraph"|trans({},'equipment') }}:
                    </p>
                    <ul>
                        <li><b>{{"li1.text"|trans({},'equipment') }}:</b>
                            <p class="hero__paragraph"> {{"li1.p"|trans({},'equipment') }} </p>

                        </li>
                        <br>
                        <li><b>{{"li2.text"|trans({},'equipment') }}:</b>
                            <p class="hero__paragraph">
                                {{"li2.p"|trans({},'equipment') }}</p>
                        </li>
                    </ul>
                </div>
                <div class="col-12 col-lg-5 hero__image">
                    <img src="{{ asset('images/equipment/img.png') }}" alt="image"/>
                </div>
            </div>
        </div>
    </section>
    <section class="about">
        <div class="container">
            <div class="row">
                <div class="related">

                    <div class="recommanded">

                            <div class="px-2">
                                <div class="card">
                                    <div class="card-body py-4">
                                        <img src="{{ asset('images/equipment/img.png') }}" alt=""/>
                                    </div>

                                </div>
                            </div>
                        {% for i in 1..14 %}

                            <div class="px-2">
                                <div class="card">
                                    <div class="card-body py-4" style="text-align: center">
                                        <img src="{{ asset('images/equipment/img_'~i~'.png') }}" alt="" style="margin-top: 40px;"/>
                                    </div>

                                </div>
                            </div>
                        {% endfor %}




                    </div>
                </div>
            </div>
        </div>
    </section>

    {#    {{ render(path('selfcare_contact_component')) }} #}



{% endblock %}

{% block javaScript %}

    <script>
        jQuery(document).ready(function ($) {
            $(".recommanded").slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 1,
                dots: true,
                arrows: false,
                responsive: [
                    {
                        breakpoint: 992,
                        settings: {
                            slidesToShow: 2,
                        },
                    },
                    {
                        breakpoint: 768,
                        settings: {
                            slidesToShow: 1,
                        },
                    },
                    {
                        breakpoint: 576,
                        settings: {
                            slidesToShow: 1,
                        },
                    },
                ],
            });

        });


        // $(function () {
        //     if (add_to_Cart) {
        //         $('#myModal').modal('show');
        //     }
        // });
    </script>

{% endblock %}